.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header__logo-link {
  width: 250px;
}

.header__logo-link img {
  width: 100%;
  height: auto;
}