main {
  width: 100%;
  margin: 0 auto;
}

.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  padding: 40px 0;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  min-height: 700px;
  background-image:
    radial-gradient(circle, transparent 30%, rgba(0, 0, 0, 0.7) 70%),
    url('/assets/img/HeroImagelg.png');
}

.banner__banner-container {
  text-align: center;
  max-width: 1400px;
  margin: 0 auto;
}

.banner__banner-container h1 {
  font-family: var(--Mystery-Quest);
  font-size: 60px;
  margin-bottom: 10px;
  color: #F5F5F5;
}

.banner__banner-container h2 {
  font-family: var(--Montserrat);
  font-size: 32px;
  color: #F5F5F5;
}

.motivation {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 70px auto;
}

.section-text-content {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  justify-content: space-around;
}

.section-text-content h2 {
  font-family: var(--Montserrat);
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #291507;
}

.section-text-content p {
  font-family: var(--Montserrat);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-top: 20px;
}

.grid-images {
  display: flex;
  flex-basis: 60%;
  margin-left: 70px;
}

.grid-images .column-1 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 45%;
  height: 100%;
}

.grid-images .column-1 div {
  width: 100%;
  padding: 20px;
}

.grid-images .column-1 img {
  width: 100%;
}

.grid-images .image-3 {
  width: 55%;
  padding: 20px;
}

.grid-images .image-3 img {
  width: 100%;
  height: 100%;
}