.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin: 0 auto;
    padding: 0 50px 0 100px;
    background-color: #000000;
    color: #FFFFFF;
}

.footer-logo {
    font-family: var(--Mystery-Quest);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.footer-copyright {
    font-family: var(--Montserrat);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}